colorama==0.4.6
et-xmlfile==1.1.0
marcelbroccoli @ https://github.com/chemage/marcelbroccoli/archive/refs/tags/1.6.1.zip#sha256=4d034f4d7161ddd3a7a3301d07ce1d50e918d3d4797f6d8d6a05ada5fa79f5d3
numpy==2.1.3
packaging==24.1
pandas==2.2.2
plotly==5.24.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
tenacity==9.0.0
tzdata==2024.1
